img {
  width: 200px;
}

a {
  text-decoration: none;
}

p {
  position: relative;
  bottom: 55px;
  color: #fff;
  left: 4px;
  background-color: black;
  width: fit-content;
}

h1, h2 {
  text-align: center;
  
}


.container {
  display: flex;
  justify-content: space-evenly;
}